<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">

    <title>Dashboard</title>

    {% block stylesheets %}
        {% stylesheets
        'bundles/gizmo/css/bootstrap.css'
        'bundles/gizmo/css/back_styles.css'
        %}
        <link href="{{ asset_url }}" rel="stylesheet" media="screen">
        {% endstylesheets %}

        <style>
            .form-group{
                position: relative;
            }
            .form-inline .help-block{
                display: none;
            }
            .form-inline .form-group.has-error .help-block {
                position: absolute;
                top:40px;
                text-align: center;
                padding:3px;
                display: block;
                background: #f2dede;
                border: 1px solid #a94442;
            }
            .form-inline .form-group.has-error .help-block:after, .form-inline .form-group.has-error .help-block:before {
                bottom: 100%;
                left: 50%;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
            }

            .form-inline .form-group.has-error .help-block:after {
                border-color: rgba(242, 222, 222, 0);
                border-bottom-color: #f2dede;
                border-width: 7px;
                margin-left: -7px;
            }
            .form-inline .form-group.has-error .help-block:before {
                border-color: rgba(169, 68, 66, 0);
                border-bottom-color: #a94442;
                border-width: 8px;
                margin-left: -8px;
            }

            .editable{
                text-decoration: none;
                color:#222222;

            }
        </style>
    {% endblock %}


    {% javascripts
    '@GizmoBundle/Resources/public/js/ie10-viewport-bug-workaround.js'
    %}
    <script src="{{ asset_url }}"></script>

    {% endjavascripts %}

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->



</head>

<body>

<div class="navbar navbar-inverse navbar-main" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Gizmomaker.co.il</a>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{path('administration_project_index')}}">Projects</a></li>
                <li><a href="{{path('administration_user_index')}}">Users</a></li>
            </ul>
        </div>

    </div>
</div>
{% block page_titles %}

{% endblock %}

<div class="container-fluid page-content">

    {% block notifications %}

        {% for flashMessage in app.session.flashbag.get('flash_good') %}
            <div class="notification-alert alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}

        {% for flashMessage in app.session.flashbag.get('flash_bad') %}
            <div class="notification-alert alert alert-error">
                {{ flashMessage }}
            </div>
        {% endfor %}

    {% endblock %}


    {% block body %}

    {% endblock %}
</div>


{% block javascripts %}
    {% javascripts
    '@GizmoBundle/Resources/public/js/jquery-1.11.0.min.js'
    '@GizmoBundle/Resources/public/js/bootstrap.js'
    %}
    <script src="{{ asset_url }}"></script>

    {% endjavascripts %}
    <script>
        setTimeout(function(){
            $('.notification-alert').fadeOut('slow',function(){
                $(this).slideUp('slow',function(){
                    $(this).remove();
                });
            });
        },10000);

        $('.has-error .form-control').focus(function(){
            $(this).parent('.form-group').removeClass('has-error');
        });

    </script>
{% endblock %}


</body>
</html>
