{% extends 'GizmoBundle::public_main.html.twig' %}
{% block title %}{{url_title}}{% endblock %}
{% block body %}

    <section class="content-row content-page">
        <div class="row">
            <div class="col-md-9 col-lg-9">
                <div dir="rtl">
                    <ol class="breadcrumb" dir="rtl">
                        <li><a href="{{ path('gizmo_article_page',{'category':link_cat}) }}">{{ url_category |e }}</a></li>
                        <li class="active">{{url_title}}</li>
                    </ol>
                    {#<h1 style="margin-bottom: 10px;">{title}</h1>#}
                    {content}
                    <div class="child-articles">
                        <ul></ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 side-bar">

                <div class="panel panel-default">
                    <div class="panel-heading">מענה אנושי מהיר</div>
                    <div class="panel-body">
                        <form method="post" action="{{ path('contact_us') }}">
                                <div class="form-group">
                                    <input type="hidden" class="form-control" name="referrer_uri" required="required" value="{{ referrerURL() }}" />
                                    <input type="hidden" class="form-control" name="current_uri" required="required" value="{{ app.request.uri }}" />
                                    <input type="text" class="form-control" name="name" required="required" id="cInputName" placeholder="שם מלא" />
                                </div>
                                <div class="form-group">
                                    <input type="email" required="required" class="form-control" name="email" id="cInputEmail" placeholder="כתובת דואר אלקטרוני" />
                                </div>
                                <div class="form-group">
                                    <input type="text" required="required" class="form-control" name="phone" id="cInputPhone" placeholder="מספר טלפון " />
                                </div>
                                <div class="form-group">
                                    <textarea rows="3" class="form-control" name="message" id="cInputMessage" placeholder="ספר בקצרה על מה מדובר והמהנדס הרלוונטי יצור איתך קשר:"></textarea>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">שלח הודעה</button>
                                </div>
                        </form>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">הפרויקטים שלנו</div>
                    <div class="panel-body">
                        {random_projects}
                    </div>
                </div>


                <div class="panel panel-default">
                    <div class="panel-heading">מאמרים מקצועיים
                    </div>
                    <div class="panel-body">
                        <ul>{categories}</ul>
                    </div>
                </div>


            </div>
        </div>
    </section>
{% endblock %}