{% for randomProject in randomProjects %}
    <div class="project-item clearfix" dir="rtl">
        {% if(randomProject.hasSlidePhoto()) %}
            <a href="{{ path('project_view',{'code':randomProject.getCode(), 'name2':randomProject.getName2URL()}) }}">
                {% if(randomProject.getPageTitle()|trim) %}
                    <h4>{{ randomProject.getPageTitle()|e }}</h4>
                {% elseif(randomProject.getTitle()|trim) %}
                    <h4>{{ randomProject.getTitle() }}</h4>
                {% endif %}
                <div class="project-item-thumb-wrap mb25">
                    <img alt="{{ randomProject.getPageTitle()|e }}" src="{{ randomProject.getRandomSlidePhoto().getWebPath() }}" style="width:100%;">
                </div>
                {% if randomProject.fullDescription|length > 200 %}
                    {{ randomProject.fullDescription|slice(0, 200)}}
                {% else %}
                    {{ randomProject.fullDescription }}
                {% endif %}
            </a>
        {% endif %}
    </div> 
{% endfor %}


