{% for project in projects %}
    <div class="project-item clearfix" dir="rtl">
        {% if(project.hasSlidePhoto()) %}
            <div class="project-item-thumb-wrap">
                <a href="{{ path('project_view',{'name2':project.getName2(),'code':project.getCode()}) }}">
                    <img alt="{{ project.getPageTitle()|e }}" src="{{ project.getRandomSlidePhoto().getWebPath() }}" style="width:100%;">
                </a>
            </div>
            {% if(project.getPageTitle()|trim) %}
        <a href="{{ path('project_view',{'name2':project.getName2(),'code':project.getCode()}) }}"> <h4>{{ project.getPageTitle()|e }}</h4></a>
            {% elseif(project.getTitle()|trim) %}
        <a href="{{ path('project_view',{'name2':project.getName2(),'code':project.getCode()}) }}"><h4>{{ project.getTitle() }}</h4></a>
            {% endif %}

            {% if project.fullDescription|length > 400 %}
                {{ project.fullDescription|slice(0, 400)}} <a href="{{ path('project_view',{'name2':project.getName2(),'code':project.getCode()}) }}">קרא עוד</a>
            {% else %}
                {{ project.fullDescription }}
            {% endif %}
        {% endif %}
    </div>
{% endfor %} 