{% for randomProject in randomProjects %}
    <div class="project-item clearfix"  dir="rtl">
        {% if(randomProject.hasSlidePhoto()) %}
            {% if(randomProject.getPageTitle()|trim) %}
                <h4>{{ randomProject.getPageTitle()|e }}</h4>
            {% elseif(randomProject.getTitle()|trim) %}
                <h4>{{ randomProject.getTitle() }}</h4>
            {% endif %}
            <div class="thumbnail project-item-thumb">
                <img src="{{ randomProject.getRandomSlidePhoto().getWebPath() }}" >
            </div>

            <div class="caption">
                {% if randomProject.fullDescription|length > 200 %}
                    {{ randomProject.fullDescription|slice(0, 200)}} <a href="{{ path('project_view',{'code':randomProject.getCode()}) }}">קרא עוד</a>
                {% else %}
                    {{ randomProject.fullDescription }}
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endfor %}
