{% extends 'GizmoBundle::public_main.html.twig' %}
{% block title %}{{project.getName2()|e}}{% endblock %}
{% block stylesheets %}

    {{ parent() }}

    <style>

        .side-bar-heading{
            font-size: 18px;
            font-weight: bold;
            border-bottom: 4px solid #ddd;
            padding-bottom: 5px;
            margin-bottom: 5px;
        }

        .project-side-box{
            border-bottom: 1px solid #ddd;
            padding-bottom: 5px;
            margin-bottom: 15px;
        }
        .right-side-bar .project-side-box:last-child{
            border-bottom: none;
        }

        .main-content{
            border:3px solid #ddd;
            padding:15px;
            border-radius: 4px;
        }
        .main-bar{
            width: 470px;
            float: left;
            padding:0 15px 0 0;
            border-right: 1px solid #ddd;
        }
        .project-side-box-title{
            font-size: 16px;
            font-weight: bold;
            margin: 10px 0;
        }
        .confidential-status{
            text-align: center;
        }
        .confidential-status label{
            min-width: 70px;
        }
        .like-actions{
            padding: 10px;
            text-align: center;
        }
        .like-actions a,.like-actions a:hover{
            text-decoration: none;
            display: inline-block;
            padding: 0 10px;
            color:#222222;
        }

        span.video-thumb{
            display: block;
            line-height: 55px;
            font-size: 20px;
            padding: 0 10px;
        }

        span.video-thumb{
            display: block;
            line-height: 55px;
            font-size: 20px;
            padding: 0 10px;
        }
        .make-slider{
            height:260px;
            background:#d5d5d5 ;
            position: relative;
            cursor: pointer;
            margin: 15px 0;
        }
        .make-slider .indicator {
            display: block;
            position: absolute;
            top:50%;
            margin-top:-40px;
            left:50%;
            margin-left:-40px;
            height: 80px;
            width: 80px;
            line-height: 80px;
            -moz-border-radius: 40px;
            border-radius: 40px;
            background-color: #333;
            color: white;
            text-align: center;
            font-size: 40px;
            font-weight:bold;
        }
        .indicator-desc{
            text-align: center;
            padding-top:180px;
            font-size: 20px;
        }

        .project-full-description{
            margin-top:20px;;
        }
        .project-title h2{
            margin-top:0;
        }


    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '@GizmoBundle/Resources/public/js/jquery.aw-showcase.js' %}
    <script src="{{ asset_url }}"></script>

    {% endjavascripts %}
    <script>
        $(function() {
            $("#showcase").awShowcase(
                    {
                        content_width: '100%',
                        auto: true,
                        interval: 3000,
                        continuous: true,
                        loading: true,
                        arrows: false,
                        buttons: false,
                        btn_numbers: false,
                        keybord_keys: true,
                        mousetrace: false, /* Trace x and y coordinates for the mouse */
                        pauseonover: true,
                        stoponclick: false,
                        transition: 'hslide', /* hslide/vslide/fade */
                        transition_delay: 0,
                        transition_speed: 500,
                        show_caption: 'onload', /* onload/onhover/show */
                        thumbnails: true,
                        thumbnails_position: 'outside-last', /* outside-last/outside-first/inside-last/inside-first */
                        thumbnails_direction: 'horizontal', /* vertical/horizontal */
                        thumbnails_slidex: 2, /* 0 = auto / 1 = slide one thumbnail / 2 = slide two thumbnails / etc. */
                        dynamic_height: false, /* For dynamic height to work in webkit you need to set the width and height of images in the source. Usually works to only set the dimension of the first slide in the showcase. */
                        speed_change: true, /* Set to true to prevent users from swithing more then one slide at once. */
                        viewline: false /* If set to true content_width, thumbnails, transition and dynamic_height will be disabled. As for dynamic height you need to set the width and height of images in the source. */

                    });

            $('body').on('click', '#add-another-slide', function(e) {
                e.preventDefault();
                $('#add-slide-item').modal('show')
            })
        });
    </script>

{% endblock %}


{% block body %}


    <div class="content-page row  project_page">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">הפרויקטים שלנו</div>
                <div class="panel-body random_project_list">
                    {random_projects}
                </div>
            </div>

        </div>
        <div class="col-md-9">
            <div class="main-content clearfix">

                <div class="row">
                    <div class="col-md-9 col-sm-8">
                        <div class="project-title">
                            <h1 class="value">{{project.getName2()|e}}</h1>
                        </div>
                        <div class="project-short-description">
                            <h4 class="value">{{project.getShortDescription()|e}}</h4>
                        </div>
                        <div class="project-slider" dir="ltr">

                            {%  if(project.getSlides()|length) %}

                                <div id="showcase" class="showcase" >

                                    {% for slide in project.getSlides() %}
                                        <div class="showcase-slide" >

                                            <div class="showcase-content">

                                                {% if(slide.getType() == 'photo') %}
                                                    <img src="{{ slide.getWebPath() }}">
                                                {% else %}
                                                    {{slide.getValue()|raw}}
                                                {% endif %}
                                            </div>
                                            <div class="showcase-thumbnail">
                                                {% if(slide.getType() == 'photo') %}
                                                    <img src="{{ slide.getWebPath() }}" style="width:75px" />
                                                {% else %}
                                                    <span class="video-thumb">Video</span>
                                                {% endif %}
                                                <!-- The div below with the class .showcase-thumbnail-cover is used for the thumbnails active state. -->
                                                <div class="showcase-thumbnail-cover"></div>
                                            </div>
                                        </div>
                                    {% endfor %}

                                </div>


                            {% endif %}


                        </div>
                        <div class="project-full-description">
                            <span class="value">{{project.getFullDescription()|e}}</span>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 right-side-bar ">

                        <div class="side-bar-heading">
                            אודות הפרויקט
                        </div>
                        <div class="project-side-box">
                            <div class="project-side-box-content" style="" dir="ltr">
                                <div class="like-actions">
                                    <a href="{{ path('project_update',{'code':project.getId(),'state':1}) }}"><span class="glyphicon glyphicon-thumbs-up"></span> Like</a>
                                    <a href="{{ path('project_update',{'code':project.getId(),'state':0}) }}"><span class="glyphicon glyphicon-thumbs-down"></span> Dislike</a>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{project.getRatioLikes() |e}}%;">
                                        Liked %
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="project-side-box">
                            <div class="project-side-box-content" style="text-align: center;position: relative">
                                <div class="thumbnail"  style="position: relative">
                                    <div class="caption" style="text-align: right">
                                        פרויקט על ידי:
                                    </div>
                                    {% if(project.getUser().getAvatarWebPath()) %}
                                        <img src="{{project.getUser().getAvatarWebPath()}}">
                                    {% else %}
                                        {% image '@GizmoBundle/Resources/public/images/avatar.png' %}
                                        <img src="{{ asset_url }}" style="width:100%">
                                        {% endimage %}
                                    {% endif %}
                                    <div class="caption">{{project.getUser().getName()}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}