<p>Hello admin,</p>
<p>Following details were submitted via contact form</p>
<br>
<p><strong>Name:</strong>{{ name }}</p>
<p><strong>Phone:</strong>{{ phone }}</p>
<p><strong>Email:</strong>{{ email }}</p>
<p><strong>Message:</strong>{{ message }}</p>
<p><strong>Referrer URL: </strong><a href="{{ referrer_uri }}">{{ referrer_uri }}</a></p>
<p><strong>Current URL: </strong><a href="{{ current_uri }}">{{ current_uri }}</a></p>